<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ArmandoNL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href=@Url.Action("Objetivos", "Home")> <img src="~/fonts/objetivos1.png" style="align-self:center" />   Objetivos</a></li>
                    <li><a href=@Url.Action("Pasatiempos", "Home")><img src="~/fonts/pasatiempo2.png" style="align-self:center" />   Pasatiempos</a></li>
                    <li><a href=@Url.Action("Computación", "Home")><img src="~/fonts/computación2.png" style="align-self:center"/>   Computación</a></li>

                    <!--
                    <li>@Html.ActionLink("Objetivos", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Pasatiempos", "About", "Home")</li>
                    <li>@Html.ActionLink("Computación", "About", "Home")</li>
                        -->
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Armando Nevares</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
